*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#showcase{
    background-color: #1f2937;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#showcase .hero-secondary-text a{
    margin: 0px 5px;
}

header .hero-secondary-text{
    display: flex;
}

#section-a{
    background-color: #1f2937;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-a .button{
    border: none;
    background-color: #3882f6;
    border: #3882f6 2px solid;
    padding: 10px 30px;
    border-radius: 10px;
}

#section-a .hero-secondary-text{
    margin-bottom: 15px;
}

#section-a1{
    text-align: left;
    max-width: 31vh;
}

#section-a2{
    background-image:url(img/bluedrink.jpg);
    background-size: cover;
    background-position: center;
    max-width: 30vh;
    padding: 8vh 20vh;
    margin-left: 30vh;
    border-radius: 10px;
}

#section-a2 img{
    max-height: 100%;
    display: block;
}

#section-b{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-b h1{
    margin-bottom: 1vh;
}

#section-b1{
    display: flex;
}

#section-b1 .container{
    margin: 0px 10px;
    text-align: center;
}

#section-b1 .container .box{
    background-image:url('img/milkshake.jpg') ;
    background-size: cover;
    background-position: center;
    border: #3882f6 2px solid;
    padding: 5vh 1vh;
    border-radius: 10px;
}

#section-c{
    height: 25vh;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-c i{
    max-width: 50vh;
}

#section-c strong{
    align-self: center;
}

#section-d{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-d-box{
    background-color: #3882f6;
    display: flex;
    max-width: 50vh;
    padding: 2vh 12vh;
    border-radius: 10px;
}

#section-d-box2{
    align-self: center;
    margin-left: 3vh;
}

#section-d-box2 .button{
    border: white 2px solid;
    padding: 10px 30px;
    border-radius: 10px;
}

#copyright{
    background-color: #1f2937;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* All colors and sizes of texts */

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

.information-header-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

